{{define "subject"}}Test Email{{end}}

{{define "plainBody"}}
    Hello {{.name}}!

    This is a test email.

    Best regards,
    The Test Team
{{end}}

{{define "htmlBody"}}
    <html>
    <body>
    <p>Hello {{.name}}!</p>

    <p>This is a test email.</p>

    <p>Best regards,<br>
        The Test Team</p>
    </body>
    </html>
{{end}}
