{{define "text/plain"}}
    Hello {{.name}}!

    This is a test email with no subject.
{{end}}

{{define "text/html"}}
    <html>
    <body>
    <p>Hello {{.name}}!</p>

    <p>This is a test email with no subject.</p>
    </body>
    </html>
{{end}}
