{{define "subject"}}Welcome, {{.name}}{{end}}

{{define "text/plain"}}
    {{block "@header" .}}FOO{{end}}

    Thank you for joining us.

    Best regards,
    The Team
{{end}}

{{define "text/html"}}
    <h1>
        {{block "@header" .}}{{end}}
    </h1>

    <p>Thank you for joining us.</p>

    <p>Best regards,<br>
        The Team</p>
    </body>
    </html>
{{end}}
