{{define "subject"}}Styled Email{{end}}

{{define "plainBody"}}
    Hello {{.name}}!

    This is a styled email.
{{end}}

{{define "htmlBody"}}
    <html>
    <head>
        <style>
            .header { color: blue; }
            .content { margin: 20px 0; }
        </style>
    </head>
    <body>
    <div class="header">Hello {{.name}}!</div>
    <div class="content">This is a styled email.</div>
    </body>
    </html>
{{end}}
